.modal {
  position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal .form {
  position: absolute; top: 20%; left: 34%;
  background-color: #e6ecf0;
  width: 450px; padding: 20px 0 40px;
  border-radius: 10px;
  display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center;
}

.modal input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

.modal .close-btn {
  position: absolute; top: 12px; right: 12px;
  color: rgb(100, 100, 100);
  opacity: 0.5;
  font-size: 20px;
}

.modal .login {
  padding: 14px 35px;
  color: white; background-color: #5dca88;
  opacity: 0.8;
}

.modal a:hover {
  opacity: 1;
}